
@{
	var recipes =(RecipesModel) ViewData["recipe"];
}
<table class="table table-hover" style="background-color: white; box-shadow: 5px 10px 18px #000000; ">
    <thead>
        <tr><th> </th>
            <th scope="col"style="color: #0c4271; font-size:30px">Name</th>
            <th scope="col"style="color: #0c4271; font-size:30px">Category</th>
            <th scope="col"style="color: #0c4271; font-size:30px">Ingredients</th>
           <th scope="col"style="color: #0c4271; font-size:30px">Description</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td><img style="width:300px; height:300px " src= @recipes.Image  alt="@recipes.Image" /></td>
                <td style="color: #064420; font-size: 20px ">  @recipes.recipe_Name </td>
                <td style=" color: #064420;font-size:20px">@recipes.recipe_Category  </td>
                <td>@recipes.recipe_Ingredients</td>
                <td>@recipes.recipe_Description</td>
            </tr>


    </tbody>

</table>
